body{
    background-color: black;
    background-size: cover;
    margin:0;
}


header{
    box-shadow: 5px 5px 36px white;
    text-decoration: none;
    width:100%;
    height: 80px;
    background-color:rgb(41, 41, 41);
}


.none{
    padding-top: 0%;
    text-decoration: none;
    color:white;
}


nav{
    text-shadow: 3px 3px 0px black;
    margin-top:2%;
    display: flex;
    flex-direction: row;
    font-size: 25px;
    justify-content: space-between;
    height: 80px;
    padding: 15px;
    color: white;
    font-family: fantasy;
    text-align: center;
}


#envfoot{
    width: 78px;
    height: 63px;
}


#loglink{
    width: 78px;
    height: 63px;
}


#photofoot{
    border: solid 2px white;
    border-radius: 56%;
    width: 65px;
    height: 56px;
}


.logosfoot{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


#titre{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: -3%;
    padding-top: 2%;
}


h1{
    text-shadow: 8px 1px 1px rgb(49, 49, 49);
    margin: 15px;
    color: white;
    font-size: 89px;
    font-style: italic;
}


.sect1_haut{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;   
}


.arts_sect_haut{
    display: flex;
    flex-direction: row;
    justify-content: space-between;   
}


.pjts{
    border: 5px solid black;
    width: 270px;
    height: 175px;
}


footer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 133px;
    background-color:rgb(36, 36, 36);
    box-shadow: 8px -22px 27px white;
}


p{
    color:white
}